NEXT_PUBLIC_SUPABASE_URL=https://xqpbhqohmsdizapojmwh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxcGJocW9obXNkaXphcG9qbXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTM1NzEsImV4cCI6MjA4OTg2OTU3MX0.cZOjNtaJsGLJDQ6qMds0Y9nxNjQd5UQBtf3kbVYLOmo
